@font-face {
  font-family: "zatsu";
  src: url("/fonts/851tegaki_zatsu_normal_0883%20(1).ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --black: #181819;
  --zatsu: "zatsu", sans-serif;
}

/* フォント */
.zatsu{
	font-family: var(--zatsu);
}
.sans{
	font-family: sans-serif;
}
